/* Aqui ficará o estilo do meu site */

body{
	background-image: url("../img.site/fundo.jpg"); 
	background-repeat: round;
}

.container{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

header, footer {
	background-color: rgba(24,116,205,0.5);
	padding:3%;
}

h1{
	font-size: 1.9em;
}

h2{
	font-size: 1.6em;
}

.titulos{
	text-align:center;
	color:#191970;
    font-weight:bolder;
	margin-top: 1.5%;
	margin-bottom: 1.5%;

}
p{
	font-size: 1.2em; 
	text-align:center;
	font-weight: bold;
	color: #000000;
	padding-right:10px;
	padding-left:10px;
	margin-top: 1.5%;
	margin-bottom: 1.5%;

}

ul, li{
	text-decoration: underline;
	font-weight: bolder;
	color: #000000;
	margin-top: 1%;
	margin-bottom: 1%;
}

img{
	width: 80%
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

table {
	font-weight: bold;
	font-size: 25px;
	border-collapse: collapse;
    width: 80%;

}

td, th {
	border: 1px solid;
	padding: 1.5%;
}

th{
	font-size: 1.2em;
}

td{
	font-size: 0.8em;
	text-align: center;
}

.centro {
	text-align: center;
}
